doctype html
.col-md-4
  

.col-md-12.center
  h2 Nombre del Evento
  h3 Nombre del coliseo
  .container
    .jumbotron
      | 00:00:00
  .container
    .jumbotron
      | $ 100.00

.col-md-12.center
