.list-group
  a.list-group-item.active(href='#')
    h3 Gladiadores:
  a.list-group-item(href='#')
    .row
      .col-md-12
        .col-md-6
          div
            img.img-circle.little(
              alt = ''
              src = 'https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120'
            )
        .col-md-6
          strong Amet Alvirde
      .clearfix
    .row
      .col-md-12
        .col-md-6
          strong 4,413,131 AP
        .col-md-6
          strong 1°
  a.list-group-item(href='#')
    .row
      .col-md-12
        .col-md-6
          div
            img.img-circle.little(
              alt = ''
              src = 'https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120'
            )
        .col-md-6
          strong Amet Alvirde
      .clearfix
    .row
      .col-md-12
        .col-md-6
          strong 4,413,131 AP
        .col-md-6
          strong 1°
