.list-group
  a.list-group-item.active(href='#')
    h3 Gladiadores:
  a.list-group-item(
    ng-repeat = 'gladiator in gladiators'
    href = '#'
  )
    .row
      .col-md-12
        .col-md-6
          div
            img.img-circle.little(
              alt = ''
              src = 'https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120'
            )
        .col-md-6
          strong(
            ng-bind = 'gladiator'
          )
      .clearfix
    .row
      .col-md-.text-center
        strong(
          ng-bind = 'scores[gladiator].score'
        )
