.col-md-12
h2 Pregunta {{questionIndex + 1}}/{{quiz.length}}

hr
h3(
  ng-bind = 'currentQuestion.question'
)

.radio(
  ng-repeat = 'alternative in currentQuestion.alternatives'
)
  label
    input(
      required
      type  = 'radio'
      ng-model = 'currentQuestion.hisAnswer'
      name = 'lol'
      value = '{{alternative}}'
    )
    span( ng-bind = 'alternative')

hr
button.btn.btn-block.btn-primary(
  ng-disabled = ''
  ng-click = 'sendAnswer()'
) Enviar respuesta
