doctype html
.col-md-4
  h3 perfil
  h4 badges
  br
  br
  ul.nav.nav-tabs
    li.active
      a(
        data-target = '#studyGroup'
        data-toggle ='tab'
        href        = ''
      ) Grupos de Estudio
    li
      a(
        data-target = '#events'
        data-toggle ='tab'
        href        = ''
      ) Eventos

  .tab-content
    #studyGroup.tab-pane.fade.in.active
      div.list-group
        a.list-group-item(href='#') lol
        a.list-group-item(href='#') Morbi leo risus
        a.list-group-item(href='#') Porta ac consectetur ac
        a.list-group-item(href='#') Vestibulum at eros
      button.btn.btn-success.pull-right(
        ng-click = "") Nuevo Grupo Estudio

    #events.tab-pane.fade
      div.list-group
        a.list-group-item(href='#') Dapibus ac facilisis in
        a.list-group-item(href='#') Morbi leo risukjljljls
        a.list-group-item(href='#') Vestibulum at eros


.col-md-8.text-center
  h1 Nombre del Evento
  .super-text
    timer(countdown='lu', max-time-unit='"day"', interval='1000') {{ddays}}:{{hhours}}:{{mminutes}}:{{sseconds}}
    br
    | $ 100.00
    br
    button.btn.btn-success.btn-lg.btn-warning( ng-click='openEvent()')
      .glyphicon.glyphicon-screenshot
      br
      | Ir a Evento
p.clearfix
