doctype html
.col-md-4
  h3 perfil
  h4 badges
  br
  br
  ul.nav.nav-tabs
    li.active
      a(
        data-target = '#studyGroup'
        data-toggle ='tab'
        href        = ''
      ) Grupos de Estudio
    li
      a(
        data-target = '#events'
        data-toggle ='tab'
        href        = ''
      ) Eventos

  .tab-content
    #studyGroup.tab-pane.fade.in.active
      div.list-group( ng-repeat = 'studyGroup in studyGroups')
        a.list-group-item(
          href=''
          ng-click = 'studyGroupView( studyGroup )'
          ng-bind = 'studyGroup.name')
      a.btn.btn-success.pull-right(
        href = '/#/study-groups'
      ) Nuevo Grupo Estudio

    #events.tab-pane.fade
      div.list-group
        a.list-group-item(
          href=''
          ng-click = 'view = 1') Dapibus ac facilisis in
        a.list-group-item(href='') Morbi leo risukjljljls
        a.list-group-item(href='') Vestibulum at eros

.col-md-8
  .col-med-12.text-center( ng-show = 'view === 0 ? true:false')
    h2 Selecciona un grupo de estudio o un evento

  .col-med-12.text-center( ng-show = 'view === 1 ? true:false')
    h1 Nombre del Evento
    .super-text
      timer(countdown='lu', max-time-unit='"day"', interval='1000') {{ddays}}:{{hhours}}:{{mminutes}}:{{sseconds}}
      br
      | $ 100.00
      br
      button.btn.btn-success.btn-lg.btn-warning( ng-click='openEvent()')
        .glyphicon.glyphicon-screenshot
        br
        | Ir a Evento

  .col-med-12.text-center( ng-show = 'view === 2 ? true:false')
    h2(ng-bind = 'selectGroup.name')
    h4 Tema
    .col-md-6
      h3 Usuarios
      br
      span( ng-repeat = 'user in selectGroup.users' )
        label(ng-bind = 'user')
        hr
    .col-md-6
      h3 Proximos eventos &nbsp
      br
      span( ng-repeat = 'event in selectGroup.events' )
        label(ng-bind = 'event')
        hr
    p.clearfix
    button.btn.btn-success(ng-click = 'openGroup(selectGroup._id)')
      .glyphicon.glyphicon-list-alt &nbsp Ir al Grupo de Estudio
